<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Stack Overflow</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >About <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">For Teams</a>
      </li>
    </ul>
    &nbsp;&nbsp;
    <form (submit)="onSubmit($event)" class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="searchItem"
        class="form-control mr-sm-2"
        type="search your problrm here"
        placeholder="Search"
        aria-label="Search"
      />&nbsp;&nbsp;
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search</button
    >&nbsp;&nbsp;
    <a routerLink="login" routerLinkActive="active">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button></a
    >
    &nbsp;&nbsp;
    <a routerLink="signin" routerLinkActive="active">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          signin
        </button></a
      >
  </div>
</nav>
